@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Outfit", sans-serif;
  }
  
  @font-face {
    font-family: 'Youth';
    src: url('/Fonts/Youth Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Youth';
    src: url('/Fonts/Youth Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'PP Neue Montreal';
    src: url('/Fonts/PPNeueMontreal-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'PP Neue Montreal';
    src: url('/Fonts/PPNeueMontreal-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
}

html {
  overscroll-behavior: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

