@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Outfit", sans-serif;
  }

  @font-face {
    font-family: 'Youth';
    src: url('/Fonts/Youth Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Youth';
    src: url('/Fonts/Youth Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'PP Neue Montreal';
    src: url('/Fonts/PPNeueMontreal-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'PP Neue Montreal';
    src: url('/Fonts/PPNeueMontreal-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
}


/* Scrollbar Track */
::-webkit-scrollbar {
  width: 8px;     /* scrollbar width */
}

/* Scrollbar Background */
::-webkit-scrollbar-track {
  background: #111;     /* track color */
  border-radius: 10px;
}

/* Scrollbar Thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background: #ff4747;  /* scrollbar color */
  border-radius: 10px;
  border: 2px solid #111;  /* adds spacing around thumb */
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #ff2a2a;
}


html {
  overscroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #ff4747 #111;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hero-text>span, #hero-line>span {
  overflow: hidden;
}

#hero-text div>span, #hero-line>span {
  overflow: hidden;
}

#hero-text span, #hero-line span {
  display: block;
  float: left;
}


